@model Entidades.Models.Local
@{
}

<form action="/Locales/Alta" method="post">
    <div>
        Nombre:
        <input type="text" name="Nombre" asp-for="Nombre" value="" />
        <span asp-validation-for="Nombre"></span>
    </div>

    <div>
        Direccion:
        <input type="text" name="Direccion" value="" />
    </div>
    <input type="submit" name="Crear" value="Crear" />
</form>
